* {
  overflow: auto;
}

body {
  background-color: #8ba1bb;
  font-family: Arial;
  margin: 0;
}

div.contenu {
  background-color: white;
  margin: 8% 2% 5% 2%;
  padding: 0% 8px 20px 8px;

  box-shadow: 0px 0px 10px black;
  overflow: visible;
}

h1 {
  text-align: center;
}

p.description {
  text-align: center;
  max-width: 400px;
  display: inline-block;
  font-size: 16px;
}

.centre {
  text-align: center;
  width: 100%;
}

p.categorie {
  background-color: black;
  color: white;
  display: inline-block;
  margin-top: -20px;
  padding: 8px 18px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 16px;
}

div.categorie {
  margin-bottom: 0px;
  margin-top: 0px;
  overflow: visible;
}

div.ligne {
  width: 100px;
  height: 0.5px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}
.tableau {
  position: absolute;
  bottom: 0%;
  width: 100%;
  color: white;
  background-color: #6c829dc0;
  height: 50px;
}
.tableau td {
  text-align: center;
  font-size: 12px;
  vertical-align: top;
}
.tableau th {
  font-size: 14px;
  vertical-align: bottom;
  padding: 5px;
}
img.info {
  display: block;
  max-height: 400px;
  object-fit: cover;
  min-height: 400px;
  background-color: lightgray;
}

div.colonne {
  width: 100%;
  margin-top: 5%;
}
.colonne h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  border-bottom: 5px solid #6c829d;
  padding-bottom: 5%;
}
.colonne1 {
  display: inline-block;
}

div.liste1 p {
  border: 1px solid lightgray;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 5px;
}
table.liste2 td {
  vertical-align: top;
}
table.liste2 p.numero {
  background-color: #6c829d;
  color: white;
  text-align: center;
  width: 25px;
  height: 25px;
  font-size: 15px;
  font-weight: bold;
  box-sizing: border-box;
  padding-top: 5px;
  border-radius: 50%;
  margin: 2% 5% 5% 5%;
}

table.liste2 td.preparation_etape {
  font-size: 14px;
  padding-left: 10px;
  padding-bottom: 10px;
}
table.liste2 tr {
  height: 40px;
}

/* style pour ordinateur*/

@media only screen and (min-width: 740px) {
  div.contenu {
    margin: 8% 12% 8% 12%;
    padding: 0% 5% 5% 5%;
    min-width: 320px;
  }
  .tableau {
    height: 80px;
  }
  .tableau th {
    font-size: 16px;
  }
  .tableau td {
    font-size: 15px;
  }
  div.colonne {
    width: 45%;
  }

  .colonne1 {
    margin-right: 10%;
  }
  .colonne2 {
    float: right;
  }
}
@media only screen and (min-width: 900px) {
  div.contenu {
    margin-left: auto;
    margin-right: auto;

    min-width: 645px;
  }
}
